.our_room_container img {
  max-height: 300px;
  width: 100%;
}

.our_room_container .custom_alert {
  position: fixed;
  top: 30px;
  right: 41%;
  font-size: 0.8rem;
  font-weight: bold;
  z-index: 1;
  height: 31px;
  display: flex;
  align-items: center;
}

.our_room_container .alert-dismissible .btn-close {
  position: absolute;
  top: -9px;
  right: 3px;
  z-index: 2;
  padding: 1.25rem 1rem;
  font-size: 0.7rem;
}
