.navbar {
  position: sticky;
  top: 0;

  z-index: 10;
}

nav .ul_width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .navbar-brand {
  width: 250px;
  text-align: center;
}

nav .btn_reservation {
  width: 150px;
  background-color: #008080;
  color: white;
}

nav .btn_reservation:hover {
  background: #0e9c9c;
  color: white;
}

nav .first {
  margin-right: 5px;
}

nav .title {
  color: #008080;
  font-weight: 900;
}

nav .btn_teal {
  background-color: #008080;
  color: white;
}

nav .btn_teal:hover {
  background-color: #0e9c9c;
  color: white;
}

nav .btn_reservation {
  padding: 0;
  padding: 5px 5px;
  font-size: 0.8rem;
}

nav .nav-link {
  font-size: 0.8rem;
}
