.custom_alert {
  position: fixed;
  top: 50;
  right: 25px;
  font-size: 0.8rem;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0px;
  right: 3px;
  z-index: 2;
  padding: 1.25rem 1rem;
  font-size: 0.7rem;
}
