table.dataTable > thead > tr > th,
table.dataTable > thead > tr > td {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 0.7rem;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  font-size: 0.8rem;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: transparent;
  color: inherit;
  margin-left: 11px;
}

.dataTables_wrapper .dataTables_filter input:focus-visible {
  outline: none;
}

label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.dataTables_wrapper .dataTables_length select {
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  color: inherit;
  padding: 0px;
  font-size: 0.7rem;
  cursor: pointer;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.755em;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  gap: 5px;
  align-items: center;
  vertical-align: middle;
  height: 113px;
  justify-content: center;
}

td {
  text-align: center;

  vertical-align: middle;
}

.btn_edit {
  padding: 2px 5px;
}

.room_description_text {
  font-size: 0.6rem;
  width: 240px;
}

input {
  font-size: 0.7rem !important;
}

.small {
  width: 90px;
  font-size: 0.6rem;
}

.date {
  font-size: 0.5rem;
  font-weight: bold;
}
