* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn_logout {
  background: black;
  color: white;
  border-color: black;
  font-size: 0.8rem;
}

.btn_logout:hover {
  background: black;
  border-color: white;
}

.navbar {
  background: #11151c !important;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-pills {
  width: 250px;
  text-align: center;

  position: fixed;
  top: 56px;
  height: 100%;
  background: #11151c;
  border-top: 1px solid white;
}

.nav-pills .nav-link {
  color: white;
}

.center {
  margin-left: 20vw;
  margin-top: 5% !important;
  padding-right: 25px;
}

.gen_and_edit {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn_edit {
  background: #11151c;
  border-color: #11151c;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  padding: 2px 25px;
}

.btn_edit:hover {
  background: transparent;
  border-color: black;
  color: black;
}

.card-title {
  margin-bottom: 0;
}

.card-text {
  margin-bottom: 0;
  font-size: 0.8rem;
  margin-block: 0.3rem;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background: #11151c;
  border-color: black;
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.bi-pencil-square {
  vertical-align: middle;
  margin-right: 5px;
}

.title_inp,
.about_inp {
  font-size: 0.8rem;
}

.form-label {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.contact_us {
  font-size: 0.8rem;
}

.f-title {
  font-size: 0.7rem;
}

.facilities_container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
}
